* {
  overflow: auto;
}
body {
  background-color: #8ba1bb;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
p.category {
  background-color: black;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 0px;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 16px;
}
.center {
  text-align: center;
  width: 100%;
}
/* and in responsive design we just need to change this content because all of items is inside of this */
/* so this settings is for mobile version */
div.content {
  background-color: white;
  margin: 40px 8px 80px 8px;
  padding: 0px 8px 20px 8px;
  min-width: 350px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
}
h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 12px;
}
p.description {
  text-align: center;
  max-width: 400px;
  display: inline-block;
  font-size: 14px;
}
div.category {
  margin-bottom: 0px;
  margin-top: 0px;
  overflow: visible;
}
div.line {
  background-color: black;
  width: 100px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}
div.info {
  position: relative;
}
table.info {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #6c829dc0;
  width: 100%;
  height: 50px;
}
table.info td {
  text-align: center;
  vertical-align: top;
  font-size: 12px;
}
table.info th {
  vertical-align: bottom;
  padding-bottom: 8px;
  font-size: 14px;
}
img.info {
  display: block;
  max-height: 400px;
  object-fit: cover;
  min-height: 200px;
  background-color: lightgray;
}
div.col {
  width: 100%;
  margin-top: 20px;
}
div.col h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 5px;
  border-bottom: 5px solid #8ba1bb;
}
div.col1 {
  display: inline-block;
  margin-bottom: 20px;
}
/* this setting is for desltop only */
/* div.col2 {
  float: right;
} */
div.details {
  text-align: center;
  font-size: 14px;
}
div.details p {
  border: 1px solid lightgray;
  margin-top: 4px;
  margin-bottom: 0;
  padding: 8px 0;
  vertical-align: auto;
}
table.instructions p.number {
  background-color: #6c829d;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  padding-top: 4px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  margin: 0;
}
table.instructions td.instruction_steps {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0;
}
table.instructions td {
  vertical-align: top;
}
table.instructions tr {
  height: 40px;
}
/* desktop version */
@media only screen and (min-width: 768px) {
  /* because all our design is inside a div.contant so we just need to adopt this with various screens */
  div.content {
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
  }
  /* change behaviour of table inside the picture for desktop */
  table.info {
    height: 80px;
  }
  table.info td {
    font-size: 14px;
  }
  table.info th {
    font-size: 16px;
  }
  /* change behaviour of colums in desktop model */
  div.col {
    width: 45%;
  }
  div.col1 {
    margin-right: 10%;
  }
  div.col2 {
    float: right;
  }
}
/* very large screen */
@media only screen and (min-width: 900px) {
  div.content {
    margin-left: auto;
    margin-right: auto;
    /* for finding this values we inspect element's behaviour and find the limits which starts to change*/
    width: 650px;
  }
}
